.background_nav{
    background-color: black;

}
.Logotipo{
    width: 70px;
    background-color: #e3f2fd;
}
.foto_banner{
    width: 80%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10% ;
    border-radius: 10px;
}
.foto_de_perfil{
    width: 200px;
    height: 200;
    margin-right: 100%;
    margin-top: -100px;
    border-radius: 100px;
}
i.fa-solid.fa-user.fa-2x,
i.fa-brands.fa-twitter.fa-2x,
i.fa-brands.fa-facebook.fa-2x,
i.fa-brands.fa-instagram.fa-2x
{
color: rgb(178, 178, 214);
}

i.fa-brands.fa-twitter.fa-2x:hover{
  color:rgb(13, 148, 206)
}

i.fa-brands.fa-facebook.fa-2x:hover{
  color:rgb(29, 191, 216)
}

i.fa-brands.fa-instagram.fa-2x:hover{
  color:rgb(27, 184, 219)
}
i.fa-solid.fa-user.fa-2x:hover{
  color:rgb(28, 163, 225)
}
.list-group{
  --bs-list-group-border-color:none;
  --bs-list-group-bg:none;
}
.list-group-item{
    background-color: #212529 !important;
    border: none !important;
}
